# -*- mode: ruby -*-
# vi: set ft=ruby :

# All Vagrant configuration is done below. The "2" in Vagrant.configure
# configures the configuration version (we support older styles for
# backwards compatibility). Please don't change it unless you know what
# you're doing.
Vagrant.configure(2) do |config|

  config.vm.provider "virtualbox" do |v|
    v.memory = 8192
    v.cpus = 6
  end

  config.vm.network "public_network", ip: "10.0.2.15", bridge: "eth0"
  
  config.vm.synced_folder "/var/www/html/master/api", "/home/vagrant/results"

  config.vm.box = "trusty64"
  config.vm.box_url = "https://cloud-images.ubuntu.com/vagrant/trusty/current/trusty-server-cloudimg-amd64-vagrant-disk1.box"

  config.vm.provision "shell", path: "setup.sh"

  if Vagrant.has_plugin?("vagrant-cachier")
    config.cache.scope = :box
    config.cache.enable :generic, { "pip" => { :cache_dir => "/var/cache/pip" } }   
    config.vm.provision "file" , source: "pip.conf", destination: "/home/vagrant/.pip/pip.conf"
  end


  config.vm.provision "file" , source: "local.conf" , destination: "/home/vagrant/devstack/local.conf"
  config.vm.provision "shell" , path: "build.sh" 

  config.vm.provision "shell" , path: "networkapitest.sh"

end
